<div class="header-content">
    <div class="logo"><img src="../img/menu_logo.png" width="100%"></div>
    <div class="options" location="options"></div>
    <div class="help" location="help"></div>
</div>