<div class="job has-tooltip">
    <a class="startdate" location="startdate"></a>
    <a class="enddate" location="enddate"></a>

    <div class="id" location="id"></div>
    <div class="name" location="name"></div>
    <div class="status" location="status"></div>
    <div class="tooltip" location="tooltip"></div>
    <div class="progress" location="progress"></div>
</div>