<div class="machine has-tooltip">
    <div class="id" location="id"></div>
    <div class="name" location="name"></div>
    <div class="status" location="status"></div>
    <div class="tooltip" location="tooltip"></div>
</div>