<div class="body-content">
    <div class="wallchart-options">
        <div class="refresh-button" location="refresh"></div>
        <div location="wallchart-options"></div>
    </div>
    <div class="wallchart-view" location="wallchart-view">
    </div>
</div>