<div class="startdate-field" location="startdate"></div>
<div class="wallchart-options-right">
    <div class="tabs" location="tabs"></div>
    <div class="text" location="text"></div>
    <div class="enddate-field" location="enddate"></div>
</div>