/*
    Import QTip Stylesheet
*/
@import url("http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.css");

/*
    Declare custom font "Maven Pro"
*/
@font-face {
    font-family: "Maven Pro";
    src: url(fonts/MavenPro-Regular.ttf);
}

/*
    Color declarations
*/
.waiting {
    background-color: #43bad7;
}

.testruninprogress,
.setup,
.cleanup,
.spawned,
.suspend,
.stopped,
.part,
.incomplete,
.inuse {
    background-color: #f0b448;
}

/* AVAILABLE, COMPLETE, DRAFT, INCOMPLETE, INUSE, REJECTED, STATE_UNAVAILABLE, UNAVAILABLE*/
.ready,
.inprogress,
.completed,
.available,
.complete,
.draft {
    background-color: #a2c33a;
}

.failedtestrun,
.aborted,
.rejected,
.state-unavailable,
.unavailable {
    background-color: #c45439;
}

/*
    General declarations
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: url("img/bg_body.png") repeat;
    font-family: "Maven Pro", sans-serif;
}

div {
    outline: none;
}

.header-content {
    width: 80%;
    margin: 0 auto;
}

.body-content {
    margin-left: 10%;
    width: 80%
}

.v-button-caption {
    cursor: pointer;
}

/*
    Header declarations
*/
.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 47px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #d9d9d9 !important;
    z-index: 100;
}

.site-header .logo {
    margin-top: 4px;
    float: left;
}

.site-header .options {
    float: left;
    text-align: center;
}

.site-header .help {
    float: left;
    text-align: center;
}

/*
    Footer declarations
*/
.site-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-top: 1px solid #d9d9d9;
    color: #858585;
    font-size: 9px;
    line-height: 40px;
}

.site-footer .align-center {
    float: left;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

.site-footer .align-right {
    float: left;
    width: 25%;
    text-align: right;
    padding-right: 15px;
}

/*
    Wallchart declarations
*/
.main-content {
    padding-top: 50px;
}

.wallchart-row {
    width: 100%;
    margin: 0;
    padding: 0;
}

.wallchart-view {
    clear: both;
    padding-top: 1px;
}

/*
    Machine declarations
*/
.machine-column {
    float: left;
    margin-bottom: 3px;
}

.machine {
    width: 11em;
    height: 70px;
    background-color: #bebebe;
    color: #f5f5f5;
    margin-bottom: 3px;
}

.v-slot:last-of-type .machine {
    margin-bottom: 0;
}

.v-slot:nth-of-type(even) .machine {
    background-color: #b7b7b7;
}

.machine .id {
    font-size: 21px;
    padding-left: 4px;
}

.machine .name,
.machine .status {
    font-size: 12px;
    padding-left: 40px;
}

/*
    Job declarations
*/

.job-column {
    position: relative;
    margin-left: 11em;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.job-row {
    height: 70px;
    background-color: #E6E6E6;
    margin-bottom: 3px;
}

.v-slot:last-of-type .job-row {
    margin-bottom: 0;
}

.v-slot:nth-of-type(even) .job-row {
    background-color: #E3E3E3;
}

.job-row .v-slot {
    float: left;
}

.job {
    height: 70px;
    color: #f5f5f5;
    overflow: hidden;
    text-overflow: clip;
    position: relative;
}

.progress {
    position: absolute;
    right: 10%;
    top: 0;
    font-size: 3.6em;
    font-weight: bold;
    opacity: .25;
}

.job .id {
    font-size: 21px;
    padding-left: 4px;
}

a.startdate {
    display: none;
}

a.enddate {
    display: none;
}

.job .id .v-label,
.job .name .v-label,
.job .status .v-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.job .name,
.job .status {
    font-size: 12px;
    padding-left: 40px;
}

/*
   Tooltip declarations
*/
.has-tooltip, .has-dialog {
    cursor: pointer;
}

.tooltip, .dialog {
    display: none;
    font-size: 16px;
    line-height: normal;
}

.qtip-default {
    border-color: #999999;
    background-color: #E6E6E6;
    color: #141414;
    font-size: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
}

.qtip-content {
    padding: 8px;
    min-width: 250px;
}

.qtip-content .property {
    margin: 8px 0;
}

.qtip-content .property:after {
    clear: both;
}

.qtip-content .property .name,
.qtip-content .property .value {
    float: left;
    width: 50%;
}

.qtip-default .qtip-icon {
    background: none;
}

.qtip-close {
    right: 0;
    top: 0;
    border: none;
    font-size: 30px;
}

/*
    Button declarations
*/
.button {
    border-radius: 0;
    border: solid 1px #999999 !important;
    background: url(img/bg_button_gradient.png) repeat-x;
    background-size: cover;
    padding: 4px 8px;
}

.refresh-button {
    float: left;
    width: 11em;
    text-align: center;
}

.refresh-button .button img {
    margin-right: .4em;
}

.new-data-available {
    background: #f0b448 none;
}

/*
    Menu Button declaration
*/
.help {
    margin-top: 0.5em;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 7%;
}

#readmeWindow {
    overflow: auto !important;
}

.readmeContent {
    text-align: left !important;
}

.help .button {
    width: 30px;
    height: 30px;
}

.settings-menu {
    margin-top: 0.5em;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10%;
    background: url("img/icon_gear.png") no-repeat;
}

.menu-chapter {
    width: 145px;
    background-color: lightgray;
    text-align: center;
}

.menu-option {
    width: 145px;
    border: none;
    text-align: left;
    background-color: transparent;
}

button.save {
    display: block;
    margin: 0 auto;
}

.v-slot-tab, .startdate-field {
    float: left;
    width: 4.5em;
}

.text {
    float: left;
    width: 4.5em;
    line-height: 1.7em;
    text-align: center;
}

.tabs {
    width: 13.5em;
    float: left;
}

.tab {
    background: #f2f2f2;
    border: 1px #cecdcd solid;
    border-radius: 0;
    padding: 4px 8px;
}

.enddate-field {
    float: left;
}

button.tab {
    margin-right: 1px;
    margin-left: 1px;
    width: 100%;
    font-variant: small-caps;
}

button.active {
    box-shadow: inset 0 -1.5px 0 0px #43bad7;
}

.wallchart-options {
    height: 3em;
    padding: .5em 0;
}

.wallchart-options-right {
    float: right;
}

.v-datefield {
    white-space: nowrap;
    display: inline-block;
}

.v-datefield-textfield {
    vertical-align: top;
    max-width: 6.5em;
    text-align: center;
    padding: 4px 8px;
}

.v-ie .v-datefield-button:after {
    content: "\200B";
}

.v-datefield-button {
    cursor: pointer;
    vertical-align: top;
}

.v-has-width > input.v-datefield-textfield {
    width: 100%;
}

.v-datefield-prompt .v-datefield-textfield {
    color: #999;
    font-style: italic;
}

.v-datefield .v-datefield-button-readonly {
    display: none;
}

.v-datefield-calendarpanel table {
    width: 100%;
}

.v-datefield-calendarpanel td {
    text-align: center;
}

.v-datefield-calendarpanel:focus {
    outline: none;
}

tr.v-datefield-calendarpanel-header {
    background: lightgray;
}

.v-datefield-calendarpanel-header td {
    text-align: center;
}

.v-datefield-calendarpanel-month {
    text-align: center;
    white-space: nowrap;
}

.v-datefield-calendarpanel-weeknumber {
    color: #999;
    border-right: 1px solid #ddd;
    font-size: 11.7px;
}

.v-datefield-calendarpanel-day, .v-datefield-calendarpanel-day-today {
    cursor: pointer;
    padding: 2px 7px;
}

.v-datefield-calendarpanel-day-today {
    border: 1px solid #ddd;
}

.v-disabled .v-datefield-calendarpanel-day, .v-disabled .v-datefield-calendarpanel-day-today {
    cursor: default;
}

.v-datefield-calendarpanel-day-disabled, .v-datefield-calendarpanel-day-outside-range {
    cursor: default;
    opacity: 0.5;
}

.v-datefield-calendarpanel-prevyear button.outside-range, .v-datefield-calendarpanel-nextyear button.outside-range, .v-datefield-calendarpanel-prevmonth button.outside-range, .v-datefield-calendarpanel-nextmonth button.outside-range {
    opacity: 0.5;

}

.v-button-prevyear, .v-button-prevmonth, .v-button-nextmonth, .v-button-nextyear {
    padding: 0;
    border: none;
    background: none;
    font-size: 1em;
}

.v-button-nextmonth {
    padding: 1px 6px;
}

.popupContent {
    border: 1px solid #cecdcd;

}

.v-datefield-calendarpanel-weekdays {
    /*background: lightgrey;*/
}

.v-datefield-calendarpanel-day-selected {
    cursor: default;
    background: #43bad7;
    color: #fff;
}

.v-datefield-selecteddate {
    text-align: center;
}

.v-datefield-calendarpanel-day-focused {
    outline: 1px dotted black;
}

.v-datefield-calendarpanel-day-offmonth {
    color: #666;
}

.v-datefield-time {
    white-space: nowrap;
}

.v-datefield-time .v-label {
    display: inline;
}

.v-datefield-popup {
    background: #f2f2f2;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

.v-datefield-popupcalendar input.v-datefield-textfield {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #F2F2F2;
    border: 1px solid #CECDCD;
    border-radius: 0;
    padding: 5px 8px;
}

.v-datefield-calendarpanel-prevyear,
.v-datefield-calendarpanel-prevmonth,
.v-datefield-calendarpanel-nextmonth,
.v-datefield-calendarpanel-nextyear {
    width: 2em;
}

.v-datefield-calendarpanel-month {
    width: 10em;
}

.v-inline-datefield {
    white-space: nowrap;
    display: inline-block;
}

.v-inline-datefield-textfield {
    vertical-align: top;
}

.v-ie .v-inline-datefield-button:after {
    content: "\200B";
}

.v-inline-datefield-button {
    cursor: pointer;
    vertical-align: top;
}

.v-has-width > input.v-inline-datefield-textfield {
    width: 100%;
}

.v-inline-datefield-prompt .v-inline-datefield-textfield {
    color: #999;
    font-style: italic;
}

.v-inline-datefield .v-inline-datefield-button-readonly {
    display: none;
}

.v-inline-datefield-calendarpanel table {
    width: 100%;
}

.v-inline-datefield-calendarpanel td {
    padding: 0;
    margin: 0;
}

.v-inline-datefield-calendarpanel:focus {
    outline: none;
}

.v-inline-datefield-calendarpanel-header td {
    text-align: center;
}

.v-inline-datefield-calendarpanel-month {
    text-align: center;
    white-space: nowrap;
}

.v-inline-datefield-calendarpanel-weeknumber {
    color: #f2f2f2;
    border-right: 1px solid #ddd;
    font-size: 11.7px;
}

.v-inline-datefield-calendarpanel-day, .v-inline-datefield-calendarpanel-day-today {
    cursor: pointer;
}

.v-inline-datefield-calendarpanel-day-today {
    border: 1px solid #ddd;
}

.v-disabled .v-inline-datefield-calendarpanel-day, .v-disabled .v-inline-datefield-calendarpanel-day-today {
    cursor: default;
}

.v-inline-datefield-calendarpanel-day-disabled, .v-inline-datefield-calendarpanel-day-outside-range {
    cursor: default;
    opacity: 0.5;
}

.v-inline-datefield-calendarpanel-prevyear button.outside-range, .v-inline-datefield-calendarpanel-nextyear button.outside-range, .v-inline-datefield-calendarpanel-prevmonth button.outside-range, .v-inline-datefield-calendarpanel-nextmonth button.outside-range {
    opacity: 0.5;
}

.v-inline-datefield-calendarpanel-day-selected {
    cursor: default;
    background: #333;
    color: #fff;
}

.v-inline-datefield-calendarpanel-day-focused {
    outline: 1px dotted black;
}

.v-inline-datefield-calendarpanel-day-offmonth {
    color: #666;
}

.v-inline-datefield-time {
    white-space: nowrap;
}

.v-inline-datefield-time .v-label {
    display: inline;
}

.v-inline-datefield-popup {
    background: #fff;
}

.v-inline-datefield-popupcalendar input.v-inline-datefield-textfield {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button.v-datefield-button {
    height: 1.75em;
    width: 1.75em;
    border: 1px #999999;
    background: url(img/icon_calendar.png) no-repeat center;
}

.startdate-field div.v-errorindicator {
    display: none;
}

.popup {
    background: #eee;
    border: 1px solid #DDD;
    background: -moz-linear-gradient(top, #EEE, #FFF);
    background: -webkit-linear-gradient(top, #eee, #fff);
    background: -ms-linear-gradient(top, #eee, #fff);
    background: -o-linear-gradient(top, #eee, #fff);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
}

.v-datefield-selecteddate.v-assistive-device-only {
    display: none;
}

.v-datefield-calendarpanel {
    font-variant: small-caps;
}

.popup-header {
    width: 100%;
    background-color: lightgray;
    text-align: center;
}

.popup-content {
    text-align: center;
    overflow: hidden;
    padding: 1em;
}

.v-slot-popup-button {
    display: inline-block;
    margin-top: 1em;
}

/**
 * Loading Indicator
 */
.v-popupview-loading {
    width: 30px;
    height: 30px;
    background: transparent url(img-loading/ajax-loader-medium.gif) no-repeat 50%;
}

body .v-app .v-app-loading {
    background-image: url(img-loading/loading-indicator.gif);
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100%;
    height: 100%;
}

.v-loading-indicator, .v-loading-indicator-delay, .v-loading-indicator-wait {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 30000;
    width: 31px;
    height: 31px;
    background: transparent url(img-loading/loading-indicator.gif);
    margin-right: 50%;
    margin-top: 400px;
}

.v-loading-indicator-delay {
    background-image: url(img-loading/loading-indicator-delay.gif);
}

.v-loading-indicator-wait {
    background-image: url(img-loading/loading-indicator-wait.gif);
}

.v-progressbar {
    width: 150px;
}

.v-progressbar-wrapper {
    height: 7px;
    border: 1px solid #ddd;
}

.v-progressbar-indicator {
    height: 7px;
    background: #ddd;
}

div.v-progressbar-indeterminate {
    height: 20px;
    width: 20px;
    background: #fff url(img-loading/ajax-loader-medium.gif) no-repeat 50%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.v-progressbar-indeterminate .v-progressbar-wrapper, .v-progressbar-indeterminate .v-progressbar-indicator, .v-progressbar-indeterminate-disabled .v-progressbar-wrapper, .v-progressbar-indeterminate-disabled .v-progressbar-indicator {
    display: none;
}

div.v-progressbar-indeterminate-disabled {
    height: 20px;
    width: 20px;
    background: transparent;
}

.v-progressindicator {
    width: 150px;
}

.v-progressindicator-wrapper {
    height: 7px;
    border: 1px solid #ddd;
}

.v-progressindicator-indicator {
    height: 7px;
    background: #ddd;
}

div.v-progressindicator-indeterminate {
    height: 20px;
    width: 20px;
    background: #fff url(img-loading/ajax-loader-medium.gif) no-repeat 50%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.v-progressindicator-indeterminate .v-progressindicator-wrapper, .v-progressindicator-indeterminate .v-progressindicator-indicator, .v-progressindicator-indeterminate-disabled .v-progressindicator-wrapper, .v-progressindicator-indeterminate-disabled .v-progressindicator-indicator {
    display: none;
}

div.v-progressindicator-indeterminate-disabled {
    height: 20px;
    width: 20px;
    background: transparent;
}

.v-slot-setting-name {
    width: 8em;
    float: left;
}

.v-slot-setting-input {
    width: 7em;
    float: left;
}

.v-slot-save {
    clear: both;
}

.marker {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 0px;
    font-variant: small-caps;
}

.marker-line {
    border-left: 1px solid;
    height: 105%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
}

.marker-date {
    margin-left: -8em;
    float: left;
    border: 1px solid;
    border-right: 0px;
    background: #EEEEEE;
    text-align: center;
    width: 8em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
    height: 1.75em;
    padding-top: 0.1875em;
}

.marker-time {
    border: 1px solid;
    background: #EEEEEE;
    text-align: center;
    width: 5.5em;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
    height: 1.75em;
    padding-top: 0.1875em;
}

/**
 * Impressum-Subwindow
 */
.v-window.v-widget .popupContent {
    background-color: #f2f2f2;
}

.impressum .v-slot:last-of-type {
    width: 100%;
    text-align: center;
    background: #f2f2f2;
    border: 1px #cecdcd solid;
    border-radius: 0;
    padding: 4px 8px;
}

.impressum .popupContent {
    padding: 1em;
    padding-top: 0;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
}