<h1>Impressum / Anbieterkennzeichnung nach § 6 TDG</h1>
<h2>Postanschrift:</h2>
<p>Postfach 30 11 66<br>D-04251 Leipzig</p>
<h2>Hausanschrift:</h2>
<p>Karl-Liebknecht-Str. 132<br>04277 Leipzig</p>
<h2>Tel:</h2>
<p>(03 41) 30 76-0</p>
<h2>E-Mail:</h2>
<p>dekan (at) fbm.htwk-leipzig.de</p>
<h2>Internet:</h2>
<p>www.htwk-leipzig.de</p>
<h2>Rechtsform:</h2>
<p>Die HTWK Leipzig ist eine Körperschaft des Öffentlichen Rechts. Sie wird durch die Rektorin Prof. Dr. Renate Lieckfeldt gesetzlich vertreten.</p>