@import "Markdown.css";
@import "Menu.css";

@font-face {
    font-family: "ubuntu-mono";
    src: url("./UbuntuMono-R.ttf");
}

@font-face {
    font-family: "ubuntu";
    src: url("./Ubuntu-L.ttf");
}

* {
    border: 0;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: ubuntu;
}

body {
    display: flex;
    flex-direction: column;
}

#Header {
    height: 5em;
}

#Content {
    padding-bottom: 0.5em;
    height: 100%;
    display: flex;
}

#Editor {
    overflow-x: auto;
    overflow-y: scroll;
    width: 49%;
    resize: horizontal;

    background-color: #f0f0f0;

    border: medium none;
    border-radius: 0.25em;

    margin-left: 0.5em;
    margin-right: 0.5em;
}

#Preview {
    overflow-x: auto;
    overflow-y: scroll;
    border: 1px solid;
    background-color: #f8f8f8;
    flex: 1;
    border-radius: 0.25em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

@media print {
    #Header, #Editor {
        display: none;
    }

    #Preview {
        font-size: 10pt;
        overflow: visible;
        border: none;
        margin: 0;
        padding: 0;
    }

    body, #Content {
        display: inline;
        flex-direction: row;
        overflow: visible;
    }

    p, ul, li, div, pre, table {
        page-break-inside: avoid;
    }
}
