.MenuButtonGroup {
    margin-left: 0.5em;
    margin-right: 0.5em;
    float: left;
}

.Button {
    display: inline-block;
    border: 1px solid;
    width: 3em;
    height: 3em;
    margin-top: 0.5em;
    border: medium none;
    border-radius: 0.25em;
}

.MenuButtonGroup#FileButtons .Button {
    background-color: #1ABC9C;
}

.MenuButtonGroup#FileButtons .Button:hover {
    background-color: #32d2b4;
}

.MenuButtonGroup#FileButtons .Button:active {
    background-color: #00a082;
}

.MenuButtonGroup#ExportButtons .Button {
    background-color: #1abcbc;
}

.MenuButtonGroup#ExportButtons .Button:hover {
    background-color: #32d2d2;
}

.MenuButtonGroup#ExportButtons .Button:active {
    background-color: #00a0a0;
}